/* Mobile and general stuff */
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../font/RobotoCondensed-Light.ttf');
    src: url('../font/RobotoCondensed-Light.ttf') format('ttf'),
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../font/RobotoCondensed-Regular.ttf');
    src: url('../font/RobotoCondensed-Regular.ttf') format('ttf'),
}
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../font/RobotoCondensed-Bold.ttf');
    src: url('../font/RobotoCondensed-Bold.ttf') format('ttf'),
}
:root {
    --white: #fff;
    --black: #000;
    --green: rgb(3, 92, 3);
    --lightgreen: #198754;
    --blue: rgb(3, 3, 141);
    --lightblue: rgb(240, 240, 254);
}
body {
    font-family: 'RobotoCondensed-Regular';
    font-size: 18px;
}
.logo {
    font-size: 24px;
    cursor: pointer;
}
.outerWrap {
    margin: 0 10px;
}
.mainNavigation {
    margin: 0 -10px;
    border-bottom: 1px solid var(--black);
    position: sticky;
    top: 0;
    background: var(--white);
    z-index: 99999;
}
.nav-item-wrap {
    padding: 15px 10px;
    flex-wrap: wrap;
}
.nav-item-wrap .nav-item {
    margin: 0 5px;
    padding: 0 10px;
    border: 1px solid var(--black);
    background: var(--white);
    cursor: pointer;
    transition: .15s;
}
.nav-item-wrap .nav-item:hover {
    background: var(--lightgreen);
    border-color: var(--lightgreen);
    color: var(--white);
}
.product {
    border: 1px solid var(--black);
}
.product-card {
    margin: 5px 0;
}
.product-card:nth-of-type(odd) {
    padding: 0 5px 0 0;
}
.product-card:nth-of-type(even) {
    padding: 0 0 0 5px;
}
.product .tags {
    font-size: 14px;
    padding: 5px 10px;
    background: #e8e8e8;
    width: fit-content;
}
.product .tags:first-of-type {
    margin: 0 5px 0 0;
}
.product .product-image {
    width: 100%;
    height: auto;
}
.product .product-name {
    margin: 15px 0;
}
.product .addToCard {
    padding: 0;
    font-size: 14px;
}
.product .addToCard:focus {
    box-shadow: none;
}
.product .quantityInput {
    margin: 0 0 5px;
    font-size: 14px;
}
.product .image-container {
    overflow: hidden;
}
.product img {
    transform: scale(1);
    transition: .4s;
}
.product:hover img {
    transform: scale(1.1);
}
.username input,
.password input {
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;
}
.submitLogin {
    border: 1px solid var(--black);
    background: var(--white);
    width: 100px;
    transition: .3s;
}
.submitLogin:hover {
    background: var(--lightgreen);
    border-color: var(--lightgreen);
    color: var(--white);
}
.container {
    width: 70%;
    margin: auto;
}
.flex {
    display: flex;
    gap: .3em;
}
.pill-item  {
    border: 1px solid var(--black);
    padding: 0 10px;
    transition: .15s;
    cursor: pointer;
}
.active,
.pill-item:hover {
    color: var(--white);
    background-color: var(--lightgreen);
    border-color: var(--lightgreen);
}
.badge {
    /* border: 1px solid #198754; */
    border: 1px solid var(--black);
    color: var(--black);
    background: var(--white);
    top: -15px;
    right: -25px;
    transition: .15s;
}
.nav-item-wrap .nav-item:hover .badge {
    color: var(--white);
    background: var(--lightgreen);
    border-color: #fff;
}

/* Tablet */
@media(min-width: 768px)
{
    .outerWrap {
        margin: 0 100px;
    }
    .mainNavigation {
        margin: 0 -100px;
    }
    .nav-item-wrap {
        padding: 15px 100px;
    }
}

/* Desktop */
@media(min-width: 992px)
{
    .outerWrap {
        margin: 0 200px;
    }
    .mainNavigation {
        margin: 0 -200px;
    }
    .nav-item-wrap {
        padding: 15px 200px;
    }
    .filter-wrap {
        position: fixed;
        left: 10px;
        max-width: 170px;
    }
}